body {
	background-color: white;
}

.menu {
	background-color: #F6F6F6;
	width: 	7%;
	margin:auto;
	float: left;
	text-align: center;
}

.menu img {
	width: 70%;
	height: 70%;
    margin-top: 10%;
	margin-left:auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 20%;
}

a{
	text-decoration: none;
	margin-bottom: 5%;
	margin: auto;
}

.menu i {
	font-size: 250%;
	color: black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20%;
	display: block;
	text-align: center;
}

.menu i:hover {
	color: #E4E7F7;
}

main {
	font-family: 'HelveticaNeue', sans-serif;
	background-color: white;
	width: 95%;
	height: auto;
	margin-top: 30px;
	padding-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}

.contenu {
	background-color: white;
	height: auto;
	width: fixed;
	/*margin-top: -35%;*/
	margin-left: 10%;
	margin-right: 5%;
}

.tableau {
	margin-left: 10%;
}
fieldset {
	padding: 20px;
	margin-right: 30px;
}

td {
	padding-top: 12px;
}

#env {
	padding: 10px;
}

#eff {
	padding: 10px;
	margin-left: 25px;
}