body {
	background-color: white;
}

menu {
	background-color: #F6F6F6;
	width: 	7%;
	height: auto;
	margin-top: 0px;
	margin-bottom: -50px;

}

menu img {
	width: 75px;
	height: 75px;
    margin-top: 20px;
	margin-left:-40%;
}
a{
	text-decoration: none;

}
menu ul {
	margin-left: -82px;
}

menu li {
	list-style: none;
	padding: 15px;
	text-align: center;
}

menu i {
	font-size: 30px;
	color: black;
}

menu i:hover {
	color: #E4E7F7;
}

main {
	font-family: 'HelveticaNeue', sans-serif;
	background-color: white;
	width: 95%;
	height: auto;
	margin-top: 30px;
	padding-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}

.contenu {
	background-color: white;
	height: auto;
	width: fixed;
	margin-top: -605px;
	margin-left: 150px;
	margin-right: 30px;
}

.tableau {
	margin-left: 10%;
}
fieldset {
	padding: 20px;
	margin-right: 30px;
}

td {
	padding-top: 12px;
}

#env {
	padding: 10px;
}

#eff {
	padding: 10px;
	margin-left: 25px;
}